[Unit]
Description=arrowhead-systemregistry
After=network.target mysql.target arrowhead-serviceregistry-sql.service
Requires=arrowhead-serviceregistry-sql.service arrowhead-authorization.service

[Service]
WorkingDirectory=/etc/arrowhead/systems/systemregistry
ExecStart=/usr/bin/java -jar /usr/share/arrowhead/arrowhead-systemregistry-4.1.1-SNAPSHOT.jar -d -daemon -tls
TimeoutStopSec=5
Type=simple
User=arrowhead
Group=arrowhead

[Install]
WantedBy=default.target
